<ion-header [translucent]="true">

  <ion-toolbar color="primary" [class.ion-hide]="searching">
    <ion-title>Tarefas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar color="primary" [class.ion-hide]="!searching">
    <ion-searchbar #searchbar color="light" showCancelButton (ionBlur)="closeSearch()" (ionInput)="updateTasks()"></ion-searchbar>
  </ion-toolbar>
  
  <ion-toolbar color="primary">
    <ion-segment value="all" (ionChange)="setTaskFilter($event.detail.value)">
      <ion-segment-button value="all">Todas</ion-segment-button>
      <ion-segment-button value="pending">Pedentes</ion-segment-button>
      <ion-segment-button value="completed">Concluídas</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content color="light">
  <ion-list class="ion-no-padding">

    <ion-item-sliding *ngFor="let task of getFilteredTasks()">
      <ion-item color="light">
        <ion-label (click)="openViewTaskModal(task)" class="full-height">{{task.title}}</ion-label>
        <ion-checkbox [(ngModel)]="task.completed" (ionChange)="updateTasks()" slot="start" color="primary"></ion-checkbox>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="medium" (click)="openEditTaskModalWithArgument(task)">
          <ion-icon name="pencil" size="large"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteTask(task.id || -1)">
          <ion-icon name="trash" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item *ngIf="tasksIsEmpty()" color="light">
      <ion-label>Não há tarefas aqui!
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" (click)="openNewTaskModal()">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="isTaskModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>{{getTaskModalTitle()}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeNewTaskModal()">
              Cancelar
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content color="light">
        <form 
          [formGroup]="newTaskForm" 
          (ngSubmit)="onSubmit()" 
          class="ion-padding">
          <ion-input
            fill="solid"
            label="Título"
            labelPlacement="floating"
            color="primary"
            name="title"
            formControlName="title"
            [readonly]="taskModalType.toString() == 'View'">
          </ion-input>
          <ion-note 
            *ngIf="newTaskForm.get('title')?.invalid && newTaskForm.get('title')?.touched" 
            color="danger">
            O título é obrigatório.
          </ion-note>
          <ion-textarea 
            fill="solid"
            rows="12"
            color="primary"
            name="description"
            label="Descrição"
            labelPlacement="floating"
            formControlName="description"
            class="ion-margin-bottom ion-margin-top"
            [readonly]="taskModalType.toString() == 'View'">
          </ion-textarea>
          <ion-button 
            expand="block"
            color="success"
            type="submit"
            [disabled]="newTaskForm.invalid"
            *ngIf="taskModalType.toString() != 'View'">
            Salvar
          </ion-button>
          <ion-button 
            expand="block"
            color="primary"
            type="button"
            (click)="openEditTaskModal()"
            *ngIf="taskModalType.toString() == 'View'">
            Editar
          </ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>